.title{
    margin-bottom: 12px;
    font-size: 21px;
    color: #696868;
    text-align: left;
    font-weight: 500;
}

.history_block{
    margin-top: 50px;
    width: 50%;
    box-sizing: border-box;
   
}

.from_title{
    font-size: 15px;
}

.to_title{
    font-size: 20px;
}

.money_title{
    font-size: 18px;
}

.from{
    display: flex;
    justify-content: space-between;
}

.history_inner{
    padding: 25px;
    background-color: #ffffff;
    width: 500px;
    height: 100px;
}

.delete{
    width: 30px;
    height: 30px;
    cursor: pointer;
    float: right;
}